# CODEOWNERS
#
# Each line is a file pattern followed by one or more users or teams. Order is
# important; the last matching pattern takes the most precedence. When someone
# opens a pull request that only modifies files matching a pattern farther down,
# only the last-matching owner(s) and not the global owner(s) will be requested
# for a review.
#
# Prefer listing teams instead of individual users whenever possible for easier
# access management.
#
# This is a living document mapping expertise to the codebase; it can and should
# be updated over time! See: https://opensauced.pizza/blog/shared-ownership-culture
#
# SPDX-FileCopyrightText: The Threadbare Authors
# SPDX-License-Identifier: CC0-1.0

# Global (will be requested for review if no more specific match)
* @endlessm/games

# Learning-related resources; anything that directly affects the learning
# journey, especially related to documentation that the learning team would need
# to update.
pull_request_template.md         @endlessm/learning
docs/pull_request_template.md    @endlessm/learning
.github/pull_request_template.md @endlessm/learning
.github/PULL_REQUEST_TEMPLATE/   @endlessm/learning

# Games and Learning teams share ownership of what's expected of contributions
# to the game.
docs/CONTENT_GUIDELINES.md       @endlessm/games @endlessm/learning
docs/CONTRIBUTING.md             @endlessm/games @endlessm/learning
docs/REVIEWING.md                @endlessm/games @endlessm/learning

# Community stuff; directly affects the community contributor experience and
# related documentation
README.md                 @endlessm/community
.github/ISSUE_TEMPLATE/   @endlessm/community
issue_template.md         @endlessm/community
docs/issue_template.md    @endlessm/community
.github/issue_template.md @endlessm/community

# Shared community + games team ownership
.github/workflows/discord.yml @endlessm/community @endlessm/games
