# SPDX-FileCopyrightText: The Threadbare Authors
# SPDX-License-Identifier: CC0-1.0
root = true

[*]
charset = utf-8

[*.{gd,gdshader,dialogue}]
indent_style = tab
indent_size = 4

[*.{yaml,yml,xml}]
indent_style = space
indent_size = 2
