# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0
<andrea@endlessaccess.org> <andrea@endlessos.org>
<cassidy@endlessaccess.org> <cassidy@endlessos.org>
<dbn@endlessaccess.org> <dbn@endlessos.org>
Heather Drolet <heather@endlessaccess.org> <heather@endlessos.org>
Heather Drolet <heather@endlessaccess.org> <108750056+hydrolet@users.noreply.github.com>
<joana@endlessaccess.org> <joana@endlessos.org>
Juan Manuel Fernandes dos Santos <juan9794@gmail.com> <jfdossantos@frba.utn.edu.ar>
Justin Bourque <justin@endlessaccess.org> <justin@endlessos.org>
Justin Bourque <justin@endlessaccess.org> <164198892+jbourqueendless@users.noreply.github.com>
Manuel Quiñones <manuq@endlessaccess.org> <manuel.por.aca@gmail.com>
Manuel Quiñones <manuq@endlessaccess.org> <manuq@endlessos.org>
Pablo de Haro <pablitar@gmail.com>
Phoenix Stroh <68404504+PhoenixStroh@users.noreply.github.com>
Stephen Reid <stephen@endlessaccess.org> <stephen@endlessos.org>
Will Thompson <wjt@endlessaccess.org> <wjt@endlessos.org>
Will Thompson <wjt@endlessaccess.org> <will@willthompson.co.uk>
