# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0
Heather Drolet <heather@endlessos.org>
Heather Drolet <heather@endlessos.org> Heather <108750056+hydrolet@users.noreply.github.com>
Justin Bourque <justin@endlessos.org>
Manuel Quiñones <manuel.por.aca@gmail.com>
Pablo de Haro <pablitar@gmail.com>
Stephen Reid <stephen@endlessos.org>
Phoenix Stroh <68404504+PhoenixStroh@users.noreply.github.com>
